.sec-cat .cat-container{
    margin-top: 1.5rem;
    padding: .5rem;
}

.sec-cat .cat-container .box-container .box{
    background-color: #FFF;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .2);
    padding: 1rem;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    outline: 1px solid #999;
    outline-offset: -7px;
    transition: all .2s linear;
}

.sec-cat .cat-container .box-container .box:hover{
    outline: 1px solid var(--main-color);
    outline-offset: 0px;
}

.sec-cat .box-container .box img{
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.sec-cat .box-container .box p{
    text-align: center;
    color: #666;
    line-height: 1.5;
}

.sec-cat .box-container .box a{
    padding: 3px 6px;
}