header{
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header .panel-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--secondary-color);
}

header .panel-2{
    background-color: #FFF;
    padding: .4rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header .panel-2 #close-panel{
    display: none;
}

header .panel-2 .pages-box{
    display: flex;
    gap: 2.5rem;
}

header .panel-2 .pages-box a{
    font-size: .9rem;
    padding: 0 2px;
}

header .panel-2 .icon-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

header .panel-2 .icon-box .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    cursor: pointer;
    margin: 0 3px;
}

header .panel-2 .icon-box .icon span{
    margin-left: 5px;
    display: none;
}

header .panel-2 .icon-box .icon:hover{
    color: var(--main-color);
}

header .logo{
    display: flex;
    align-items: center;
}

header .logo #menu-btn{
    border-radius: 3px;
    font-size: 2rem;
    margin-right: 8px;
    display: none;
}

header h2{
    color: #333;
    letter-spacing: 1px;
}

header .logo #logo{
    color: var(--main-color);
    margin-right: 10px;
    font-size: 2rem;
}

header .search-box{
    width: 50%;
    display: flex;
    align-items: center;
}

header .search-box input{
    flex-grow: 1;
    height: 35px;
    padding: 5px 10px;
    border-radius: none;
    border: none;
    outline: none;
    color: #333;
    background-color: #FFF;
}

header .search-box button{
    height: 35px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .btn-box{
    display: flex;
    gap: 10px;
}

header .btn-box button{
    font-size: 1rem;
    padding: 5px 12px;
    border-radius: 6px;
}

header .btn-box #search-btn{
    padding: 0;
    height: 38px;
    width: 38px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

header .panel-2 .menu-signature{
    position: absolute;
    bottom: 0;
    display: none;
}

header .panel-2 .menu-signature h2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: .5rem;
    color: var(--main-color);
}

@media (max-width: 950px) {

    header .search-box{
        position: absolute;
        width: 80%;
        top: 115%;
        right: -80%;
    }

    header .search-box.active{
        right: 1%;
    }

    header .btn-box #search-btn{
        display: block;
    }

    header .btn-box button{
        padding: 2px 10px;
    }

    header .logo #menu-btn{
        display: block;
    }

    header .panel-2{
        position: absolute;
        top: 0;
        left: -40%;
        width: 40%;
        height: 100dvh;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    header .panel-2.active{
        left: 0;
    }

    header .panel-2 .pages-box{
        flex-direction: column;
        margin: 1rem 0;
        gap: 0;
    }

    header .panel-2 .pages-box a{
        line-height: 1.5;
        margin: 13px 0;
    }

    header .panel-2 .icon-box{
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;
    }
    
    header .panel-2 .icon-box .icon:hover{
        padding-left: 8px;
    }

    header .panel-2 .icon-box .icon span{
        display: block;
    }

    header .panel-2 #close-panel{
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    header .panel-2 .menu-signature{
        display: block;
        
    }
    
}



@media (max-width: 750px) {
    header .panel-1{
        padding: 1rem;
    }
}




@media (max-width: 480px) {

    header .logo #menu-btn{
        font-size: 1.7rem;
    }

    header .h2{
        font-size: .9rem;
    }

    header .panel-1 .btn-box button{
        font-size: .9rem;
        padding: 2px 8px;
    }

    header .btn-box #search-btn{
        height: 32px;
        width: 32px;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    header .panel-2{
        width: 50%;
        left: -50%;
    }

}