header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--secondary-color);
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header .logo{
    display: flex;
    align-items: center;
}

header h2{
    color: #333;
    letter-spacing: 1px;
}

header .logo i{
    color: var(--main-color);
    margin-right: 10px;
    font-size: 2rem;
}

header .search-box{
    width: 50%;
    display: flex;
    align-items: center;
}

header .search-box input{
    flex-grow: 1;
    height: 35px;
    padding: 5px 10px;
    border-radius: none;
    border: none;
    outline: none;
    color: #333;
    background-color: #FFF;
}

header .search-box button{
    height: 35px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .btn-box{
    display: flex;
    gap: 10px;
}

header .btn-box button{
    font-size: 1rem;
    padding: 5px 12px;
    border-radius: 6px;
}

header .btn-box #search-btn{
    padding: 0;
    height: 38px;
    width: 38px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

@media (max-width: 950px) {

    header{
        padding: 1rem;
    }

    header .search-box{
        position: absolute;
        width: 80%;
        top: 115%;
        right: -80%;
    }

    header .search-box.active{
        right: 1%;
    }

    header .btn-box #search-btn{
        display: block;
    }

    header .btn-box button{
        padding: 2px 10px;
    }

}