.sec-product{
    padding-top: 3rem;
}

.sec-product .box-container{
    padding: 1rem;
}

.sec-product .box-container .product-wrapper .product-card .saveBtn{
   display: flex;
   justify-content: flex-end;
}

.sec-product .box-container .product-wrapper .product-card img{
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.sec-product .box-container .product-wrapper .product-card .btn-box{
    display: flex;
    justify-content: center;
}

.sec-product .box-container .product-wrapper .product-card .btn-box a{
    width: 50%;
    text-align: center;
}