.sec-service{
    padding-top: 4rem;
}

.sec-service .box-container{
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
}

.sec-service .box-container .box{
    background-color: #FFF;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .2);
    padding: 1rem;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    outline: 1px solid #999;
    outline-offset: -7px;
}

.sec-service .box-container .box:hover{
    outline: 1px solid var(--main-color);
    outline-offset: 0px;
}

.sec-service .box-container .box img{
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.sec-service .box-container .box p{
    text-align: center;
    color: #666;
    line-height: 1.5;
}

.sec-service .box-container .box a{
    padding: 3px 6px;
}

@media (max-width: 480px) {

    .sec-service .box-container{
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }

    .sec-service .box-container .box img{
        height: 150px;
        width: 150px;
    }

}