@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

:root{
    --main-color: #544349;
    --secondary-color: #F3E7D9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .2s linear;
    font-family: "Google Sans Flex", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #EEE;
    height: 100dvh;
}

.btn{
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    outline: none;
    color: #FFF;
    cursor: pointer;
}

.btn:hover{
    color: var(--main-color);
    background-color: #FFF;
}

.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
    width: 30%;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .2);
    background-color: #FFF;
    padding: 1rem;
    display: none;
}

.login-box #close-login{
    position: absolute;
    top: 12px;
    right: 15px;
    font-size: 1.7rem;
    color: var(--secondary-color);
    background-color: var(--main-color);
    cursor: pointer;
    border-radius: .5rem;
    padding: 2px;
}

.login-box h2{
    color: var(--main-color);
    font-size: 1.65rem;
}

.login-box form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem .5rem;
    gap: .65rem;
}

.login-box form .box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.login-box form .box label{
    color: var(--main-color);
    line-height: 1.5;
    margin-left: 5px;
}

.login-box form .box input{
    background-color: var(--secondary-color);
    border: 1px solid var(--main-color);
    outline: none;
    padding: 4px 8px;
    font-size: 1rem;
    border-radius: .5rem;
    text-transform: none;
}

.login-box form .box input::placeholder{
    font-size: .9rem;
}

.login-box form .box .pass-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    cursor: pointer;
}

.login-box form button{
    font-size: 1.2rem;
    font-weight: bolder;
    margin-top: .5rem;
    border-radius: .5rem;
    padding: 4px 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--secondary-color);
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    width: 100%;
}

header .logo{
    display: flex;
    align-items: center;
}

header h2{
    color: #333;
    letter-spacing: 1px;
}

header .logo i{
    color: var(--main-color);
    margin-right: 10px;
    font-size: 2rem;
}

header .search-box{
    width: 50%;
    display: flex;
    align-items: center;
}

header .search-box input{
    flex-grow: 1;
    height: 35px;
    padding: 5px 10px;
    border-radius: none;
    border: none;
    outline: none;
    color: #333;
    background-color: #FFF;
}

header .search-box button{
    height: 35px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .btn-box{
    display: flex;
    gap: 10px;
}

header .btn-box button{
    font-size: 1rem;
    padding: 5px 12px;
    border-radius: 6px;
}