<div class="login-box">
        <i id="close-login" class="material-symbols-outlined">close</i>
        <h2>log in</h2>
        <form>
            <div class="box">
                <label for="user_name">user name</label>
                <input id="user_name" type="text" placeholder="name_123" required>
            </div>
            <div class="box">
                <label for="user_email">email</label>
                <input id="user_email" type="email" placeholder="name@gmail.com" required>
            </div>
            <div class="box">
                <label for="user_num">number</label>
                <input id="user_num" type="tel" placeholder="+91 XXXXXXXXXX" required>
            </div>
            <div class="box">
                <label for="user_password">password</label>
                <input id="user_password" type="password" placeholder="Must be atleast 8 charcter" required>
                <div class="pass-box">
                    <label id="pass-label" for="pass_show">show password</label>
                    <input id="pass_show" type="checkbox">
                </div>
            </div>
            <button class="btn" type="submit">login</button>
        </form>
</div>